body{
    /* 眩しいのが苦手なので背景を灰色にする また、見やすいように文字色を白にする */
    position: relative;
    background-color: gray;
    color: white;
    font-family: cursive, 'UD デジタル 教科書体 NP-B';
    height: 99%;
    width: 99%;
}
/* TODO : テーマカラーをそれぞれ用意する(白、黒、色覚異常用) */
#theme{
    position: fixed;
    right: 10vh;
    top: 0.1vh;
    background-color: #6b4a9f;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
}
.themeColorSub{
    display: none;

}
li{
    list-style: none;
}
ul{
    padding-left: 0;
}
#input_chat{
    /* 入力フォームを画面下部の中央に設置する */
    position: fixed;
    bottom: 1vh;
    left: 40%;
    width: 40vh;
}

#output_chat{
    position: absolute;
    border:solid 2px;
    background-color: aqua;
    left: 10%;
    right: 1%;
    min-height: 85vh;
    overflow: hidden;
    overflow-wrap: break-word;
    top: 5vh;
}

.my_text{
    /* 出力されたものは背景を周りと変える */
    border-radius: 5px 5px;
    background-color: #00ff00;
    margin-left: 50%;
    margin-right: 10px;
}

.your_text{
    border-radius: 5px 5px;
    background-color: darkblue;
    margin-left: 1%;
    margin-right: 50%;
}