body{
    /* 眩しいのが苦手なので背景を灰色にする また、見やすいように文字色を白にする */
    background-color: gray;
    color: white;
}
#input_chat{
    /* 入力フォームを画面下部の中央に設置する */
    position: absolute;
    bottom: 1em;
    left: 40%;
}